*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: #ffffff;
  }
  .post-form {
      display: flex;
      flex-direction: column;
      max-width: 600px;
      margin: auto;
    }
    
    .post-form label {
      margin-top: 10px;
    }
    
    .post-form input, .post-form textarea {
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
    
    button {
      background-color: #28a745;
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
    }
    .post-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  
  .post-item {
    width: 200px;
    text-align: center;
  }
  
  .post-item img {
    width: 100%;
    border-radius: 8px;
  }
  