*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: #fff1f1;
}
.profile-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ddd;
  }
  
  button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #ff0044;
    color: white;
    border: none;
    cursor: pointer;
  }
  .video-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .video-gallery video {
    width: 200px;
    border: 2px solid #ddd;
    border-radius: 8px;
  }
  