*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: #ffffff;
}
.search-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  #search-bar {
    width: 60%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  