*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: #ffffff;
}
.video-recording-container {
    text-align: center;
    margin-top: 20px;
  }
  
  video {
    width: 80%;
    border: 2px solid #ddd;
    border-radius: 8px;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #ee1d12;
    color: white;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #de1212;
  }
  .video-recording-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #preview {
    display: none;
    width: 300px;
    margin-top: 10px;
  }
  
  .controls {
    margin-top: 10px;
  }
  
  .uploaded-video {
    margin: 10px;
    width: 200px;
  }
  